<div class="container text-center">
  <h2>Quienes somos</h2>
  <p>Magas del Sur es una empresa formada por un círculo de mujeres alquimistas 
  que se unieron para recrear antiguas recetas mágicas que permiten hacer la 
  vida más sana y vivir en un estado de eterna juventud. Magas del sur trabaja 
  en el Sur del Planeta, desde Argentina para el mundo.
Los productos manufacturados por Magas del Sur, están elaborados con aceites 
esenciales y elementos naturales puros, seleccionados minuciosamente.</p>
<p>Son confeccionados en estado meditativo y en comunión espiritual con los 
elementales del aire, fuego, tierra y agua, y seres de los planos elevados del 
alma.</p>
<p>Magas del sur entrega en sus productos armonía, alegría y bienestar para 
mejorar la calidad de vida.</p>
<h3>Pastas Alquímicas</h3>
<p>Las pastas alquímicas son preparados hechos de resinas, especies y aceites 
esenciales molidos en el mortero.</p>
<p>Las pastas alquimicas se colocan sobre un carboncito encendido el cual con 
el calor hace entrar en combustión la pasta la cual emana humos perfumados que 
abrazan todos los ambientes para lograr los objetivos de acuerdo a la fragancia 
que se seleccione.</p>
<h3>Jabones y armonizadores alquímicos</h3>
<p>Los jabones alquímicos están preparados para ser usados sobre todo tipo de 
piel, son de glicerina natural y tienen agregados de aceites esenciales que 
provocan diversos efectos según la fragancia seleccionada.</p>
<p>Los armonizadores alquímicos son de uso personal, para rociar sobre el 
cuerpo o la ropa, al igual que los jabones provocaran el efecto según la 
fragancia seleccionada.</p>
<h3>Fragancias</h3>
<h4>Liblim (LL) </h4>
<p>Es una fragancia para la limpieza y liberación de energía. Remueve 
profundamente bloqueos, limitaciones y miedos.</p>
<h4>Abuar (AB)</h4>
<p>Es una fragancia para dar armonía y abrir las puertas a la abundancia en 
todos los niveles. Abundancia de conocimientos, de paz, de trabajo, de 
remuneraciones.</p>
<h4>Alam (AA)</h4>
<p>Es una fragancia que tiene combinaciones de esencias que darán alegría, y 
amor. Apertura a otros seres.</p>
<h4>Amomir (AM)</h4>
<p>Es una fragancia para la relajación y preparación al descanso profundo y el 
buen dormir. Ideal para niños.</p>

</div>