<div class="container text-center">
  <h2>Quienes somos</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quo enim, quaerat fugiat magni blanditiis ipsam deleniti hic laudantium adipisci odio nulla, fuga, deserunt neque dolorum. Earum ratione minima eligendi?</p>
</div>