<div class="home-callout text-center container-fluid">
  <%= image_tag("magas1.png", :alt => "magas kit") %>
  <h2>Jabones, sales de baño, aromatizadores, pastas alquímicas, palo santo</h2>
  <h3>¡Envíos a todo el país!</h3>
  
  <div class="row" id="icons">
    <div class="col-md-4" id="calidad">
      <i class="fas fa-medal fa-5x"></i>
      <h3>CALIDAD</h3>
      <p> Lorem ipsum</p>
    </div>
    <div class="col-md-4" id="compromiso">
      <i class="fas fa-handshake fa-5x"></i>
    <h3>COMPROMISO</h3>
    <p> Lorem ipsum</p>
    </div>
    <div class="col-md-4" id="accesibilidad">
      <i class="fas fa-shopping-bag fa-5x"></i>
    <h3>ACCESIBILIDAD</h3>
    <p> Lorem ipsum</p>
    </div>
  </div>
  
  <div class="row" id="about">
      <div class="col-md-5 col-md-offset-1" id="about-text">
        <h2>Quienes somos</h2>
        <p>Magas del Sur es una empresa formada por un círculo de mujeres 
        alquimistas que se unieron para recrear antiguas recetas mágicas que 
        permiten hacer la vida más sana y vivir en un estado de eterna juventud. 
        Magas del sur trabaja en el Sur del Planeta, desde Argentina para el 
        mundo. Los productos manufacturados por Magas del Sur, están elaborados 
        con aceites esenciales y elementos naturales puros, seleccionados 
        minuciosamente.</p>
      </div>
      <div class="col-md-5" id="about-img">
        <%= image_tag("kit.png", :alt => "magas kit", :width => "500") %>
      </div>
  </div>
</div>