<div class="home-callout text-center container-fluid">
  <%= image_tag("magas1.png", :alt => "magas kit") %>
  <h2>Jabones, sales de baño, aromatizadores, pastas alquímicas, palo santo</h2>
  <h3>¡Envíos a todo el país!</h3>
</div>