<div class="home-callout text-center container-fluid">
  <%= image_tag("magas1.png", :alt => "magas kit") %>
  <h2>Jabones, sales de baño, aromatizadores, pastas alquímicas, palo santo</h2>
  <h3>¡Envíos a todo el país!</h3>
  
  <div class="row" id="icons">
    <div class="col" id="calidad">
      <i class="fas fa-medal fa-5x"></i>
      <h3>CALIDAD</h3>
      <p> Lorem ipsum</p>
    </div>
    <div class="col" id="compromiso">
      <i class="fas fa-handshake fa-5x"></i>
    <h3>COMPROMISO</h3>
    <p> Lorem ipsum</p>
    </div>
    <div class="col" id="accesibilidad">
      <i class="fas fa-shopping-bag fa-5x"></i>
    <h3>ACCESIBILIDAD</h3>
    <p> Lorem ipsum</p>
    </div>
  </div>
  
  <div id="productos">
    
  </div>
</div>